* {
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
    flex: unset;
    width: 100vw;
    margin-bottom: 10px;
  }
  
  body {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  canvas {
    float: left;
    width: 300px;
    border: 3px solid deepskyblue;
    margin: 5px;
  }
  